
<nz-layout>
  <nz-header>
    <div nz-flex [nzJustify]="'space-between'" [nzAlign]="'flex-start'">
      <div>
        <img src="/spring-security.svg" width="40" height="32">
        <a class="text-lg text-white" href="/">Home</a>
        
        @if (isAuthenticated) {
          <a nz-dropdown [nzDropdownMenu]="menu" class="text-md text-white ml-sm">
            Authorize
            <nz-icon nzType="down" />
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <a href="#" (click)="authorizeMessages()">Messages</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        }
      </div>
      <div>
        @if (isAuthenticated) {
          <div>
            <span class="text-lg text-white mr-md">{{ userName }}</span>
            <button nz-button nzGhost (click)="logout()">Logout</button>
          </div>
        } @else {
          <div>
            <button nz-button nzGhost (click)="login()">Login</button>
          </div>
        }
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      @if (messages.length > 0) {
        <nz-table [nzData]="messages" [nzHideOnSinglePage]="true" nzSize="small">
          <thead>
            <tr>
              <th>#</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of messages; let index = index">
              <td scope="row">{{ index + 1 }}</td>
              <td>{{ message }}</td>
            </tr>
          </tbody>
        </nz-table>
      }
    </div>
  </nz-content>
  <nz-footer>Eaglet project ©2025 Implement By Paulyip</nz-footer>
</nz-layout>
<!-- 
<div class="container">
  <div *ngIf="messages.length > 0" class="row py-5 justify-content-start">
    <div class="col">
      <table class="table table-striped caption-top">
        <caption>Messages</caption>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages; let index = index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ message }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
